.fleche{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    cursor: pointer;
    margin-left: 90%;
    position: fixed;
  }
  .flch{
    width: 58px;
    height: 58px;
  }